# vim: filetype=sh

[ -f ~/.fn ] && source ~/.fn

alias sx=startx

alias v="nvim"
alias ve="sudo -e"

alias ls="logo-ls"
alias la='logo-ls -A'
alias ll='logo-ls -al'
alias lsg="logo-ls -D"
alias lag='logo-ls -AD'
alias llg='logo-ls -alD'

alias xi='doas xbps-install'
alias xr='doas xbps-remove -Ro'
alias xu='doas xbps-install -Su'
alias xq='xbps-query'

alias resetmodmap="setxkbmap -layout us"
alias keys="xev | awk -F'[ )]+' '/^KeyPress/ { a[NR+2] } NR in a { printf \"%-3s %s\n\", \$5, \$8 }'"

alias relog="exec zsh --login"
# alias poweroff="sudo laptop_mode && sudo poweroff"

# Docker
alias docker="sudo docker"
alias docker-compose="sudo docker-compose"
alias d="docker"
alias dcm="docker-compose"

# Git
alias g=git
alias gcm="git commit"
alias gad="git add"
alias gck="git checkout"
alias gbr="git branch"
alias grt="git reset"
alias gre="git restore"
alias gst="git status"
alias gmr="git merge"
alias graph="git log --all --oneline --decorate --graph"

# TMUX
alias tn="tmux new -s"
alias ta="tmux attach-session -t"
alias tks="tmux kill-session -t"
alias tls="tmux ls"

# Exit from xorg
alias logout-xorg="pkill -15 Xorg"

# XAMPP
alias xampp="sudo /opt/lampp/lampp"
# alias php="/opt/lampp/bin/php"
# alias mysql="/opt/lampp/bin/mysql"
